body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
}

a {
  text-decoration: none;
  color:#000000;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
}

/*
img {
  max-width: 100%;
  height: auto;
}

*/

header  {
  min-height: 545px;
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.container {
  width: 1160px;
  padding: 0;
  margin: 0 auto;
}

/*
div,section,a,ul,li,p,footer,header {
  outline: 1px solid blue;
}
*/

.button {
  display: inline-block;
  box-sizing: border-box;
  width: 160px;
  height: 50px;
  padding: 19px 39px 18px 39px;
  font: inherit;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 2px;
}

.navigation {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 0px;
}

.header-logo {
  width: 160px;
  height: 65px;
  justify-self: left;
  margin-top: 75px;
}

.header-logo:hover,
.header-logo:focus  {
  opacity: 0.8;
}

.header-logo:active {
  opacity: 0.3;
}

.navigation-menu,
.user-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.navigation-menu {

  justify-content: space-between;
  padding: 0;

  margin-left: 202px;
  width: 600px;
}

.user-navigation {
  margin-left: 245px;
}

.user-navigation .basket {
  position: relative;
  padding-left: 50px;
}

.basket::before {
  position: absolute;
  top: 108px;
  left: 9px;
  content: "";

  width: 26px;
  height: 28px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.navigation-menu a,
.user-navigation a{
  display: block;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: #000000;
  margin-top: 102px;
}

.navigation-menu a:hover,
.user-navigation a:hover {
   color: #FB565A;
}

.navigation-menu a:active,
.user-navigation a:active {
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
  line-height: 30px;
  opacity: 0.3;
}

.navigation-current-item a
{
border-bottom: 2px solid #fb565a;
}

.slider input[type="radio"]{
  display: none;
}

.slider {
  position: relative;

}

.slider-controls {
  position: absolute;
  top: 310px;
  left: 50%;
}

.slider-controls label {
  display: inline-block;
  margin: 0 3px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {



  background-image: url("../img/active-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.slider {
  padding-top: 40px;

}

.slide-1,
.slide-2,
.slide-3 {
  display: none;
}

.slide-1 {
 /* padding: 40px;  */
 /* margin-top: 40px; */
  min-height: 413px;
  background: url(../img/slide1.png) no-repeat;
  background-position: bottom 26px right 32px;
}

.slide-2 {
  margin-top: 40px;
  min-height: 411px;
  background: url(../img/slide2.png) no-repeat;
  background-position: bottom 24px right 32px;
}

.slide-3 {
  margin-top: 40px;
  min-height: 411px;
  background: url(../img/slide3.png) no-repeat;
  background-position: bottom 24px right 32px;
}

#btn-1:checked ~ .slider-inner .slider-slides .slide-1{
  display: block;
}

#btn-2:checked ~ .slider-inner .slider-slides .slide-2{
  display: block;
}

#btn-3:checked ~ .slider-inner .slider-slides .slide-3{
  display: block;
}

.slider-tagline {
  display: block;
  margin: 0;
  padding: 40px 0 24px 0;
  font-weight: 500;
  font-size: 55px;
  color: #000000;
  letter-spacing: 0;
  line-height: 55px;
}

.slider-text {
font-weight: 400;
font-size: 16px;
color: #283136;
letter-spacing: 0;
line-height: 24px;
margin: 0;
}

.slider-button {

  margin-top: 35px;
  width: 240px;
  height: 50px;
  background-color: #FB565A;
}

.slider-button:hover {
  background-color: #E74246;
}

.slider-button:active {
  background-color: #D7373B;
}

.slider-button:active span{
  opacity: 0.3;
}

.features-list {
  display: flex;
  margin: 0;
  margin-top: 55px;
  padding: 0;
  list-style: none;
}

.feature-item {
  margin-right: 100px;
  text-align: left;
  width: 300px;
  }

.feature-title {
  margin: -1px;
  margin-top: 18px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;

}

.feature-item p {
  margin-right: 20px;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.feature-item .button {
  margin: 0;
  margin-top: 15px;
}

.btn-red {
  background-color: #FB565A;
}

.btn-red:hover {
  background-color: #E74246;
}

.btn-red:active {
  background-color: #D7373B;
}

.btn-red:active span{
  opacity: 0.3;
}


.btn-green {
  background-color: #00CA74;
}

.btn-green:hover {
  background-color: #00BC6C;
}

.btn-green:active {
  background-color: #00AA62;
}

.btn-green:active span{
  opacity: 0.3;
}

.btn-yellow {
  background-color: #EFC84A;
}

.btn-yellow:hover {
  background-color: #EAB534;
}

.btn-yellow:active {
  background-color: #E5A722;
}

.btn-yellow:active span{
  opacity: 0.3;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
}

.content-column::before {
  position: absolute;
  content: "";
  left: 0;
  top: -82px;

  width: 1160px;
  height: 2px;
  background: rgba(239, 239, 239, 1);
  }

.content-column {
  margin-top: 121px;
  position: relative;
  display: flex;

}

.description {
  margin-right: 113px;
  padding: 40px 0 0 0;
}

.description .content-tagline {

  margin: 0;
  margin-top: -5px;
  margin-bottom: 23px;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  text-align: left;
  color: #000000;
  }

  .description p {
      padding: 0;
      padding-top: 5px;
      margin: 0;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #283136;
  }

  .description .description-order {
    margin-top: 35px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0;
    line-height: 24px;
  }

  .description .content-list {
    margin: 0;
    padding: 0;
    padding-left: 35px;
    list-style: none;
  }

  .content-list-item {
    position: relative;
    display: block;
    margin-top: 24px;

    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #283136;
}

.content-list-item::before {
  position: absolute;
  content: "";
  left: -35px;
  top: 10px;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
  }


.aside-picture{
  width: 360px;
  height: 208px;
  margin: 0;
  margin-left: 21px;
  padding: 0;
}

.aside-table {
  margin: 0;
  padding: 0;
  border-spacing: 19px 22px;
}



.sidebar-table-caption {
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 5;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

}

.aside-table-row1 {
  font-family: Roboto;
  font-size: 45px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.aside-table-row1 td {
}


.aside-table-row2 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #283136;
}

.aside-table-row2 td {
}

.partners {
  position: relative;
  margin: 96px 0 116px 0;
}

.partners::before {
    position: absolute;
    content: "";
    left: 0;
    top: -49px;

    width: 1160px;
    height: 2px;
    background: rgba(239, 239, 239, 1);
    }

.partners::after {
  position: absolute;
  content: "";
  left: 0;
  top: 133px;

  width: 1160px;
  height: 2px;
  background: rgba(239, 239, 239, 1);
  }



.partners-list{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin: 0;
padding: 0;

list-style: none;
}



.partners-list-item
{
  position: relative;
  margin: 0;
}

.partners-list-item a {
opacity: 0.2;
}

.partners-list-item a:hover {
opacity: 1;
}

.partners-list-item a:active {
  opacity: 0.1;
  }


.partners-list-item:nth-child(1) img {
  padding-top: 15px;
  }

.partners-list-item:nth-child(3) img {

padding-top: 15px;
}

.partners-list-item:nth-child(4) img {

  padding-top: 5px;
  }

.partners-list-item:not(:last-child)::after
{
  position: absolute;
  content: "";
  right: -55px;
  top: 40px;

  width: 52px;
  height: 2px;

  transform: rotate(90deg);
  background: rgba(239, 239, 239, 1);
  }

.contacts {
  position: relative;
  width: 1440px;;
  min-height: 416px;
  margin: 0 auto;
}

.contacts iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.map {
  display: flex;
  justify-content: center;
}

.map img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}


.contacts::after {
  position: absolute;
  content: "";

  top: 89px;
  right: 427px;

  z-index: 4;


  width: 231px;
  height: 190px;

  background-image: url(../img/map-marker.png);
  background-repeat: no-repeat;
  background-position: 0 0;


}

.contacts-content {
  position: absolute;
  top: 54px;
  left: 102px;
  z-index: 3;
  box-sizing: border-box;

  width: 319px;
  height: 308px;

  padding: 50px;

  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.13;
  text-align: left;
  color: #666666;
  background-color: #ffffff;
}

.contacts-content-name {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

.contacts-content-adress {
  margin: 0;
  margin-top: 24px;
  padding: 0;
}

.contacts-content a {
  display: block;
  margin: 0;
  margin-top: 17px;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.13;
  text-align: left;
  color: #666666;
letter-spacing: 0.1px;
}

a.contacts-btn {
  display: block;
  box-sizing: border-box;
  margin-top: 37px;
  width: 219px;
  height: 50px;
  padding: 19px 39px 18px 39px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  background-color: #fb565a;
  border-radius: 3%;
}



.footer .container {
  display: flex;

  padding: 69px 0px;
}

.footer-social {
  margin-right: 125px;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-top: -9px;
  padding: 0;
  list-style: none;
}


.social-btn {
  display: block;
  width: 79px;
  height: 79px;
  margin-right: 12px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-vkontakte-btn {
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: 25px 32px;
}

.social-facebook-btn {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 30px 28px;

}

.social-instagram-btn {
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: 30px 30px;
}

.social-btn a {
  display: block;
  width: 79px;
  height: 79px;
  border-radius: 50%;
}

.social-btn:hover,
.social-btn:focus {
  background-color: #e74246;
}

.social-btn:active {
  background-color: #d7373b;
}

.social-btn:active a
{
  opacity: 0.3;
}

.footer-text {
  margin: 0;
  text-align: left;
}


.footer b {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
   }

.footer-sale {
  display: block;
  margin: 0;
  margin-top: 10px;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
   }



.header-inner {
  min-height: 355px;
  padding: 0;
  margin: 0;
  margin-bottom: 86px;
}

.header-inner .page-title {
  margin: 0;
  margin-top: 79px;
  font-size: 55px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.4px;
  text-align: center;
  color: #000000;
}

.catalog-columns {
  display: flex;
}

.filters {
  width: 260px;
  padding: 0;
  margin: 0;
}

.range-filter {
  margin-bottom: 60px;
}

.filters-fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filters-fieldset legend {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.filters-group {
  margin-top: 0;
  margin-bottom: 30px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 17px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;

  font-size: 16px;
  text-transform: uppercase;
}

label.max-price {
  margin-left: 33px;

}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 7px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.fieldset-title {
  margin-bottom: 19px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.filters ul{
  list-style: none;
  line-height: 19px;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;

  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: rgba(40,49,54, 1);
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 37px;
}


.filters-input-radio + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -5px;

  width: 25px;
  height: 25px;
  object-fit: contain;

  opacity: 0.4;

  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filters-input-radio:hover + label::before,
.filters-input-radio:checked:hover + label::before {
  opacity: 1;
}

.filters-input-radio:checked + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -5px;

  width: 25px;
  height: 25px;
  object-fit: contain;

  opacity: 0.4;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-option > .filters-input-radio:disabled + label,
.filter-option > .filters-input-checkbox:disabled + label {
  opacity: 0.1;
}

.filters-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -5px;

  width: 28px;
  height: 28px;
  object-fit: contain;

  opacity: 0.4;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filters-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -5px;

  width: 28px;
  height: 28px;
  object-fit: contain;

  opacity: 0.4;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filters-input-checkbox:hover + label::before,
.filters-input-checkbox:checked:hover + label::before {
  opacity: 1;
}

.filter-option > .filters-input-radio:disabled + label,
.filter-option > .filters-input-checkbox:disabled + label,
.filter-option > .filters-input-radio:disabled + label:before,
.filter-option > .filters-input-checkbox:disabled + label:before {
  opacity: 0.3;
}


.filter-button {
  width: 100%;
  color: #000000;
  background-color: #EEEEEE;
}



.filter-button:hover {
  width: 100%;
  background-color: #DFDFDF;
}

.filter-button:active {
  width: 100%;
  background-color: #D5D5D5;
}

.filter-button:active span{
  opacity: 0.3;
}

.catalog {
  width: 770px;
  /*значение ширины уточнить    */
  padding: 0;
  margin: 0;
  margin-left: 140px;
}

.catalog-sorting {
  display: flex;
  margin-bottom: 48px;
}

.catalog-sorting-title {
  margin: 0;
  margin-right: 273px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

.catalog-sorting-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-sorting-list-item a{

  margin-right: 33px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  opacity: 0.3;
}

.sorting-list-current-item a {
  margin: 0;
  margin-right: 27px;
  padding: 0;

}

.catalog-sorting-list-item a:hover {
  opacity: 0.6;
}

.catalog-sorting-list > .sorting-list-current-item a,
.catalog-sorting-list-item a:active,
.catalog-sorting-list > .catalog-sorting-list-item-up a
  {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  opacity: 1;
  color: #000000;
}

  .catalog-sorting-list-item-down a,
  .catalog-sorting-list-item-up a
   {
    position: relative;
    padding: 0;
    margin: 0;
  }

.catalog-sorting-list-item-down a::after {
  position: absolute;
  top: 4px;
  left: 7px;
  content: "";

  width: 11px;
  height: 10px;

  transform: rotate(180deg);

  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-sorting-list-item-up a::after {
  position: absolute;
  top: 3px;
  left: 36px;
  content: "";

  width: 11px;
  height: 10px;

  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-product-list {
  min-width: 764px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 28px;
}

.catalog-product-list-item {
  width: 360px;
  margin: 0;
  margin-right: 38px;
  margin-bottom: 31px;
  border: 1px solid rgba(77,77,77,0.10);
  box-shadow: 0 6px 15px 0 rgba(0,1,1,0.25);
}

.catalog-product-list-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item {
  position: relative;
  height: 616px;
}

.item-browser {
  width: 360px;
  height: 40px;
  opacity: 0.12;
}

.item-hover{
  position: absolute;
  top: 385px;
  left: 0;
  display: none;
  flex-direction: column;
  width: 360px;
  height: 231px;
  padding: 0;
  margin: 0;
  background-color: lightgrey;

}

.catalog-item:hover .item-hover {
  display: flex;
}

.catalog-item:hover .item-browser {
  opacity: 1;
}

.hover-btn {
  display: block;
  align-self: center;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  line-height: 18px;
  background-color: #FB565A;
  text-align: center;

}

.hover-title a{
  display: block;
  align-self: center;
  margin: 15px 0 15px 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.hover-title a:hover{
  color: #FB565A;
}

.hover-title a:active{
  opacity: 0.3;
  color: #000000;
}


.hover-description {
  margin-top: -15px;
  display: block;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: center;
  color: #666666;
}

.hover-btn {
  width: 200px;
  height: 50px;
  margin-top: 13px;
}

.hover-btn:hover {
  background-color: #E74246;
}

.hover-btn:active {
  background-color: #D7373B;
}

.catalog-pagination{
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}

.catalog-pagination a{
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  padding: 19px 22px;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 18px;
  background-color: #EEEEEE;
  text-transform: uppercase;
  }


.pagination-item {
margin-right: 10px;
}

.catalog-pagination a:hover,
.catalog-pagination a:focus{
background: #DFDFDF;
}

.catalog-pagination a:active {
  background: #D5D5D5;
}

.catalog-pagination-item:last-child {
  margin-right: 0;
}

.pagination-item-next {
  margin: 0;
  padding: 0;
}

.pagination-item-next a
{
  display: block;
  width: 260px;
  height: 50px;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active
 {
  padding: 13px 17px;
  border: solid 3px #dbdbdb;
  background-color: white;
  }



  @keyframes bounce {
    0% {
      transform: translateY(-2000px);
    }

    80% {
      transform: translateY(100px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
    }
  }

  .modal {
    position: fixed;
    z-index: 6;
    display: none;
  }

.form-feedback {
  top: 10%;
  left: 20%;

  box-sizing: border-box;
  width: 960px;
  height: 590px;
  margin: 0 auto;
  padding: 73px 100px 84px;
  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-show {
  display: block;

  animation: bounce 0.4s;
}

.modal-error {
  animation: shake 0.6s;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback-form-title {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.closebtn {
  position: absolute;
  top: 80px;
  right: 100px;
  padding: 0;
  opacity: 0.3;
  border: none;
  background-color: transparent;
}

.closebtn:hover {
  opacity: 1;
}

.closebtn:active {
  opacity: 0.1;
}


.feedback-form label{
  display: block;
  margin-bottom: 9px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.feedback-form input {
  box-sizing: border-box;
  width: 360px;
  height: 50px;
  margin-top: 12px;


  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;


  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;

  border: solid 2px #d7dcde;

}

.form-item {
  width: 360px;

}
.feedback-form textarea {
  box-sizing: border-box;
  width: 760px;
  height: 118px;
  margin-top: 12px;

  opacity: 0.5;

  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;

  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;

  border: solid 2px #d7dcde;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border: solid 2px #B4B9BB;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border: solid 2px #000000;
  opacity: 1;
}

.feedback-form input:invalid,
.feedback-form textarea:invalid {
  border: solid 2px #E74246;
  color: #E74246;
}

.feedback-form-button {
  width: 260px;
  height: 50px;
  margin-top: 47px;
  background-color: #fb565a;
}

.feedback-form-button:hover {
  background-color: #E74246;
}

.feedback-form-button:active {
  background-color: #D7373B;
}


